@model Library_MVC_API.Models.Fav

@{
    ViewData["Title"] = "Favourite";
}
<style>
    * {
        color: black;
    }

    .sel {
        background: rgba(0,0,0,0,0.6);
    }
</style>
<div style="align-content:center">
    <h2>Your Interests ?</h2>
</div>

<div class="row4">
    <div>
        <form asp-action="Favourite">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>                     
            <div class="form-group">
                <label asp-for="Author" class="control-label"></label>
                <select class="sel form-control" asp-for="Author" asp-items="(IEnumerable<SelectListItem>)ViewBag.Author"></select>
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Jonour" class="control-label"></label>
                <select class="sel form-control" asp-for="Jonour" asp-items="(IEnumerable<SelectListItem>)ViewBag.Jonour"></select>
                <span asp-validation-for="Jonour" class="text-danger"></span>
            </div>            
            <div class="form-group">
                <input type="submit" value="Apply" class="btn btn-outline-dark" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
