
@{
    ViewData["Title"] = "Entry";
}

<h1> Welcome Admin </h1>

<div class="book">
    <div class="b">
        <img class="ic" src="https://www.careerguide.com/career/wp-content/uploads/2021/05/the-power-of-reading-1024x576.jpg" alt="Paris">
    </div>
    <div class="b">
        <a></a>
        <br /><br /><br />
        <a asp-action="Index" class="btn btn-outline-dark">Books</a><br /><br />
        <a asp-action="SalesDetails" class="btn btn-outline-dark">Sales Details</a>
    </div>    
</div>

