@model Library_MVC_API.Models.login

@{
    ViewData["Title"] = "login";
}
@{
    if (@ViewBag.error != null)
    {
        <h1 class="text-danger"> @ViewBag.error</h1>
    }
}
@*<head>
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>*@
<style>
    body {
        flex-direction: row;
        /*margin-bottom: 60px;*/
        background-image: url("https://images.pexels.com/photos/694740/pexels-photo-694740.jpeg?cs=srgb&dl=pexels-min-an-694740.jpg&fm=jpg");
        height: 100%;
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
<div class="row1">
    <div class="log">
        <form asp-action="login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @{
                if (@ViewBag.message != null)
                {
                    <p class="text-warning">@ViewBag.message</p>
                }
            }              
            <div class="form-group">
                <label asp-for="Userid" class="control-label"></label>
                <input asp-for="Userid" type="email" class="form-control" />
                <span asp-validation-for="Userid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" type="password" maxlenght="10" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="login" class="btn btn-outline-dark" />
            </div>
            <div>
                <a asp-action="Register">New User</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
